{% extends 'base.html' %}
{% load static%}
{% block head %}
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
{% endblock %}
{% block title %}Home{% endblock %}
{% csrf_token %}
{% block body %}
{%if user.is_authenticated%}
{% else %} <!-- Else (not user.is_authenticated) -->
    <div class="row">            
            <div class="col-sm-12 ">
                <div class="card-container manual-flip" >
                <div class="card" >
                    <div class="front"  >
                        <div class="content">
                            <div class="main">
                                <h3 class="name">What is the Volunteer Web?</h3>
                                <p class="text-center">The Volunteer Web is a website that bridges the gap between volunteers and ngos, allowing them to connect to each other directly without the hassle of endless phone calls and searching.</p> 
                                <br><br><br><br><br><br><br><br><br><br><br><br>
                                <div class = "col-md-2 col-md-offset-5"><button type="button" onclick = "rotateCard(this)" class="btn btn-info btn-fill btn-block">Know more</button></div>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">More about us</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">What we do</h4>
                                <p class="text-center">Our Message</p>
                                <br><br><br><br><br><br><br>
                                <div class = "col-md-2 col-md-offset-5"><button type="button" onclick = "rotateCard(this)" class="btn btn-info btn-fill btn-block">Back</button></div> 
                            </div>
                            </div>
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
            </div>  
            <div class="col-sm-4">
                <div class="card-container">
                <div class="card">
                    <div class="front">
                        <div class="content">
                            <div class="main">
                                <h3 class="name">Feature 1</h3>
                                <p class="text-center">Brief explanation</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">More about Feature 1</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">More detailed explanation</h4>
                                <p class="text-center">Put some animated depictions of the feature</p>
                            </div>
                            </div>
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
            </div>
            <div class="col-sm-4">
                <div class="card-container">
                <div class="card">
                    <div class="front">
                        <div class="content">
                            <div class="main">
                                <h3 class="name">Feature 2</h3>
                                <p class="text-center">Brief explanation</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">More about Feature 2</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">More detailed explanation</h4>
                                <p class="text-center">Put some animated depictions of the feature</p>
                            </div>
                            </div>
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
            </div>
            <div class="col-sm-4">
                <div class="card-container">
                <div class="card">
                    <div class="front">
                        <div class="content">
                            <div class="main">
                                <h3 class="name">Feature 3</h3>
                                <p class="text-center">Brief explanation</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">More about Feature 3</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">More detailed explanation</h4>
                                <p class="text-center">Put some animated depictions of the feature</p>
                            </div>
                            </div>
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
            </div>
            <div class="col-sm-3">
                <div class="card-container">
                <div class="card">
                    <div class="front">
                        <div class="content">
                            <div class="main">
                                <h1 class="name">NGO counter</h1>
                                <h3 class="text-center">{{total_ngos}}</h3>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">More</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Top NGOs on our site</h4>
                                <p class="text-center">Top NGOs on our site</p>
                            </div>
                            </div>
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
            </div>
            <div class="col-sm-3">
                <div class="card-container">
                <div class="card">
                    <div class="front">
                        <div class="content">
                            <div class="main">
                                <h1 class="name">Volunteer counter</h1>
                                <h3 class="text-center">{{total_users}}</h3>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">More</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Top volunteers on our site</h4>
                                <p class="text-center">Top volunteers on our site</p>
                            </div>
                            </div>
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
            </div>
            <div class="col-sm-3">
                <div class="card-container">
                <div class="card">
                    <div class="front">
                        <div class="content">
                            <div class="main">
                                <h1 class="name">Volunteer hours counter</h1>
                                <h3 class="text-center">{{totalhours_vol}}</h3>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">More</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Top activities on our site</h4>
                                <p class="text-center">Top activities on our site</p>
                            </div>
                            </div>
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
            </div>
            <div class="col-sm-3">
                <div class="card-container">
                <div class="card">
                    <div class="front">
                        <div class="content">
                            <div class="main">
                                <h3 class="name">Donation counter</h3>
                                <p class="text-center">The total value of donations made</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">More</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Top donors on our site</h4>
                                <p class="text-center">Top donors on our site</p>
                            </div>
                            </div>
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
            </div>
            <div class="col-sm-6">
                <div class="card-container">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img src={% static 'assets/img/card-background.png' %} alt = "some background image"/>
                        </div>
                        <div class="user">
                            <img class="img" src="" alt = "Insert my pic here"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">Founder Siddharth Joshi</h3>
                                <p class="text-center">"Quote"</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">Know More</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Brief Introduction</h4>
                                <p class="text-center">A little about me</p>
                            </div>
                            <div class="footer">
                                <button class="btn btn-primary btn-round">Contact me</button>
                            </div>
                            </div>
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
            </div>
        
            <div class="col-sm-6">
                <div class="card-container">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img src={% static 'assets/img/card-background.png' %} alt = "some background image"/>
                        </div>
                        <div class="user">
                            <img class="img" src="" alt = "Insert your pic here"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">Founder Tejas Ramdas</h3>
                                <p class="text-center">"Quote"</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">Know More</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Brief Introduction</h4>
                                <p class="text-center">A little about you</p>
                            </div>
                            <div class="footer">
                                <button class="btn btn-primary btn-round">Contact me</button>
                            </div>
                            </div>
                        
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
            </div>
        
        
</div>
{% endif %}<!-- End user.is_authenticated if -->
{% endblock %}

