{% extends 'base.html' %}
{% load static%}
{% block head %}
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
{% endblock %}
{% block title %}Home{% endblock %}
{% csrf_token %}
{% block sitemast %} 
<div class="wrapper">
    <div class="header header-filter .warning" style="background-image: url('assets/img/bg2.jpeg');">
        <div class="container ">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="brand">
                        {%if user.is_authenticated%}
                        <h1> Hi {{ name }}</h1>
                        <h3> Welcome to your YouTeach Dashboard </h3>
                        {%else%}
                        <h1> YouTeach </h1>
                        <h3><i>{{ quote }}</i><br> <b>{{ per }}</b> </h3>
                        {%endif%}
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
{% block body %}
{%if user.is_authenticated%}
{% else %} <!-- Else (not user.is_authenticated) -->
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offest-1">
            <div class="col-sm-4">
                <div class="card-container">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img src={% static 'assets/img/card-background.png' %} alt = "some background image"/>
                        </div>
                        <div class="user">
                            <img class="img-circle" src={% static 'assets/img/logo.png' %} alt = "Insert logo here"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">Insert NGO Name</h3>
                                <p class="text-center">"One or two lines about ngo"</p>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">NGO Name</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">What we do / More about the NGO</h4>
                                <p class="text-center">Explain what NGO Does</p>
                            </div>
                            <div class="footer">
                                <button class="btn btn-primary btn-round">Volunteer Here</button>
                            </div>
                            </div>
                        </div>
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
            </div>
        </div>
    </div>
</div>
{% endif %}<!-- End user.is_authenticated if -->
{% endblock %}

