{% extends 'dashboardbase.html'%}

{% block profile %}active{% endblock %}
{% block lprofile %}#{% endblock %}
{%block body%}
    


        <div class="wrapper">
            <div class="container-fluid">
                <h3><b>Update your profile</b></h3>
                <h4 style = "width:65%; text-align:left;">Skills</h4>
                <div class = "container" style = "margin: auto; width: 100%;" id = "skillsliders">                                     
                    <div class = "row">
                        <div class = "col-sm-8 col-sm-offset-2">
                            <h4>Math</h4>
                            <div id="skillmath" class="slider-info"></div>
                        </div>
                        
                    </div>
                    <div class = "row">
                        <div class = "col-sm-8 col-sm-offset-2">
                            <h4>Science</h4>
                            <div id="skillscience" class="slider-danger"></div>
                        </div>               
                    </div>
                    <div class = "row">
                        <div class = "col-sm-8 col-sm-offset-2">
                            <h4>English</h4>
                            <div id="skillenglish" class="slider-success"></div>
                        </div>
                        
                    </div>
                    <div class = "row">
                        <div class = "col-sm-8 col-sm-offset-2">
                            <h4>ICT</h4>
                            <div id="skillict" class="slider-default"></div>
                        </div>    
                                   
                    </div>
                    <div class = "row">
                        <div class = "col-sm-8 col-sm-offset-2">
                            <h4>Computer Programming</h4>
                            <div id="skillprogramming" class="slider-info"></div>
                        </div>
                    </div>
                    <div class = "row">
                        <div class = "col-sm-8 col-sm-offset-2">
                            <h4>Sports</h4>
                            <div id="skillsport" class="slider-danger"></div>
                        </div>               
                    </div>
                    <div class = "row">
                        <div class = "col-sm-8 col-sm-offset-2">
                            <h4>Marketing</h4>
                            <div id="skillmarketing" class="slider-success"></div>
                        </div>               
                    </div>
                    <br>
<form id="profile_form" method = "POST" action="/home/editprofile/" enctype="multipart/form-data">
               {% csrf_token %}
                <input type="hidden" value="{{skillmath}}" name="math" id="iskillmath" />
                <input type="hidden" value="{{skillscience}}" name="science" id="iskillscience" />
                <input type="hidden" value="{{skillmarket}}" name="marketing" id="iskillmarketing" />
                <input type="hidden" value="{{skillict}}" name="ict" id="iskillict" />
                <input type="hidden" value="{{skillprog}}" name="programming" id="iskillprogramming" />                  
                <input type="hidden" value="{{skillenglish}}" name="english" id="iskillenglish" />
                <input type="hidden" value="{{skillsport}}" name="sport" id="iskillsport" />
                <div class = "container" id = "aboutuser">
                <div class = "row">
                <div class="col-sm-4 col-lg-offset-3" >
                <div class="form-group label-floating">
                <label class="control-label">Where do you live?</label>
                    <textarea name = "address" class="form-control" >{{address}}</textarea>
                </div>
                </div>
                </div>
                <div class = "row">
                <div class="col-sm-4 col-lg-offset-3" >
                <div class="form-group label-floating">
                <label class="control-label">Tell us a bit about yourself</label>
                    <textarea name = "about" class="form-control" >{{about}}</textarea>
                </div>
                </div>
                </div>
                <div class = "row">
                <div class="col-sm-4 col-lg-offset-3" >
                <button id = "submit" class="btn btn-raised btn-default">Update</button>

                </div>
                </div>
                </div>
                </form>
                    
            </div>
                <footer class="footer footer-big">
            <!-- .footer-black is another class for the footer, for the transparent version, we recommend you to change the url of the image with your favourite image.          -->

            <div class="container">
                <div class="copyright">
                    &copy; 2016 YouTeach
                </div>
            </div>
        </footer>
        </div>
    </div>


{%endblock%}
{% block modal %}
     <script type = "text/javascript">
    $( "#skillmarketing" ).slider({
            value: {{skillmarket}},
            orientation: "horizontal",
            range: "min",
            min: 0,
            max: 100,
            animate: true,
            change: function(event, ui) {
            $('#iskillmarketing').attr('value', ui.value);
            }

    });
    $("#skillscience").slider({
            value: {{skillscience}},
            orientation: "horizontal",
            range: "min",
            min: 0,
            max: 100,
            animate: true,
            change: function(event, ui) {
            $('#iskillscience').attr('value', ui.value);
            }

    });
     $("#skillmath").slider({
            value: {{skillmath}},
            orientation: "horizontal",
            range: "min",
            min: 0,
            max: 100,
            animate: true,
            change: function(event, ui) {
            $('#iskillmath').attr('value', ui.value);
            }
    });
     $("#skillenglish").slider({
            value: {{skillenglish}},
            orientation: "horizontal",
            range: "min",
            min: 0,
            max: 100,
            animate: true,
            change: function(event, ui) {
            $('#iskillenglish').attr('value', ui.value);
            }

    });
     $('#skillict').slider({
            value: {{skillict}},
            orientation: "horizontal",
            range: "min",
            min: 0,
            max: 100,
            animate: true,
            change: function(event, ui) {
            $('#iskillict').attr('value', ui.value);
            }

    });
     $('#skillprogramming').slider({
            value: {{skillprog}},
            orientation: "horizontal",
            range: "min",
            min: 0,
            max: 100,
            animate: true,
            change: function(event, ui) {
            $('#iskillprogramming').attr('value', ui.value);
            }

    });
     $("#skillsport").slider({
            value: {{skillsport}},
            orientation: "horizontal",
            range: "min",
            min: 0,
            max: 100,
            animate: true,
            change: function(event, ui) {
            $('#iskillsport').attr('value', ui.value);
            }

    });
    
    </script>
{% endblock %}