{% extends 'dashboardbase.html'%}

{% block profile %}active{% endblock %}
{% block lprofile %}#{% endblock %}
{%block body%}
	


        <div class="wrapper">
            <div class="container-fluid">
                <div class = "container" id = "skillsliders">                    
                    <h3>Update your profile</h3>
                    <h4>Skills</h4>
                    
                    <div class = "row">
                        <div class = "col-sm-8 col-sm-offset-2">
                            <h4>Math</h4>
                            <div id="skillmath" class="slider-info"></div>
                        </div>
                        
                    </div>
                    <div class = "row">
                        <div class = "col-sm-8 col-sm-offset-2">
                            <h4>Science</h4>
                            <div id="skillscience" class="slider-danger"></div>
                        </div>               
                    </div>
                    <div class = "row">
                        <div class = "col-sm-8 col-sm-offset-2">
                            <h4>English</h4>
                            <div id="skillenglish" class="slider-success"></div>
                        </div>
                        
                    </div>
                    <div class = "row">
                        <div class = "col-sm-8 col-sm-offset-2">
                            <h4>ICT</h4>
                            <div id="skillict" class="slider-default"></div>
                        </div>    
                                   
                    </div>
                    <div class = "row">
                        <div class = "col-sm-8 col-sm-offset-2">
                            <h4>Computer Programming</h4>
                            <div id="skillprogramming" class="slider-info"></div>
                        </div>
                    </div>
                    <div class = "row">
                        <div class = "col-sm-8 col-sm-offset-2">
                            <h4>Sports</h4>
                            <div id="skillsport" class="slider-danger"></div>
                        </div>               
                    </div>
                    <div class = "row">
                        <div class = "col-sm-8 col-sm-offset-2">
                            <h4>Marketing</h4>
                            <div id="skillmarketing" class="slider-success"></div>
                        </div>               
                    </div>
<form id="profile_form" method = "post" action="/register/profile/" enctype="multipart/form-data">
               {% csrf_token %}
                <input type="hidden" name="math" id="iskillmath" />
                <input type="hidden" name="science" id="iskillscience" />
                <input type="hidden" name="marketing" id="iskillmarketing" />
                <input type="hidden" name="ict" id="iskillict" />
                <input type="hidden" name="programming" id="iskillprogramming" />                  
                <input type="hidden" name="english" id="iskillenglish" />
                <input type="hidden" name="sport" id="iskillsport" />
                <div class = "container" id = "aboutuser">
                <div class = "row">
                <div class="col-sm-4 col-lg-offset-3" >
                <div class="form-group label-floating">
                <label class="control-label">Where do you live?</label>
                    <textarea name = "address" value = "Write a bit about yourself." class="form-control" ></textarea>
                </div>
                </div>
                </div>
                <div class = "row">
                <div class="col-sm-4 col-lg-offset-3" >
                <div class="form-group label-floating">
                <label class="control-label">Tell us a bit about yourself</label>
                    <textarea name = "about" value = "Write a bit about yourself." class="form-control" ></textarea>
                </div>
                </div>
                </div>
                <div class = "row">
                <div class="col-sm-4 col-lg-offset-3" >
                <button id = "submit" class="btn btn-raised btn-default">Submit</button>
                </div>
                </div>
                </div>
                </form>
            </div>
        </div>
    </div>

{%endblock%}
{% block modal %}
     <script type = "text/javascript">
    $( "#skillmarketing" ).slider({
    		value: 0,
    		orientation: "horizontal",
            range: "min",
    		min: 0,
            max: 100,
    		animate: true

    });
    $("#skillscience").slider({
            value: 0,
    		orientation: "horizontal",
            range: "min",
    		min: 0,
            max: 100,
    		animate: true

    });
     $("#skillmath").slider({
            value: 0,
    		orientation: "horizontal",
            range: "min",
    		min: 0,
            max: 100,
    		animate: true
    });
     $("#skillenglish").slider({
            value: 0,
    		orientation: "horizontal",
            range: "min",
    		min: 0,
            max: 100,
    		animate: true

    });
     $('#skillict').slider({
            value: 0,
    		orientation: "horizontal",
            range: "min",
    		min: 0,
            max: 100,
    		animate: true

    });
     $('#skillprogramming').slider({
            value: 0,
    		orientation: "horizontal",
            range: "min",
    		min: 0,
            max: 100,
    		animate: true

    });
     $("#skillsport").slider({
            value: 0,
    		orientation: "horizontal",
            range: "min",
    		min: 0,
            max: 100,
    		animate: true

    });
    $(document).ready(function(){
        $('.slider').on('slide',function(event,values){
        
        $("#i"+$(this).attr("id")).val(parseInt(values))
        })
    })     
    
    </script>
{% endblock %}