{% extends 'dashboardbase.html'%}
{%load static%}
{% block browse %}active{% endblock %}
{% block lbrowse %}#{% endblock %}
{%block body%}
  
         <div class="wrapper">
            <div class="container-fluid">
                <div class="row">
                       <div class="col-sm-4 col-lg-offset-3" >
                <div class="form-group">
        <input type="text" id="search" value="" placeholder="Search for opportunities..." class="form-control" />
    

                </div>
                </div>  
                </div>

<div id="result"></div>
<script type="text/javascript">
var respo=[]
function ajaxreq(term)
{
  $.ajax({
        url : "/home/browse/ngos/", // the endpoint
        type : "POST", // http method
        data : { 'term' : term}, // data sent with the post request

        // handle a successful response
        success : function(resp) {
            
            if(resp=="None"){
                $("#result").html("Uh Oh! Looks like we couldn't find a match!")
            }
            else{
              respo=resp
                htm=`<div class = row>`
                for (var i = 0; i < resp.length; i++) {
                htm+=`<div class = "col-sm-3 col-lg-offset 3">
                        <div class="card-container">
                        <div class="card">
                            <div class="front">
                                <div class="cover">
                                    <img src={% static 'assets/img/card-background.png' %} alt = "some background image"/>
                                </div>
                                <div class="user">
                                    <img class="img-circle" src={% static 'assets/img/logo.png' %} alt = "Insert logo here"/>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h3 class="name">`+resp[i].ngo_name+`</h3>
                                        <p class="text-center">`+resp[i].address+`</p>
                                        <p class="text-center">`+resp[i].type+`</p>
                                    </div>
                                </div>
                            </div> <!-- end front panel -->
                            <div class="back">
                                <div class="header">
                                    <h5 class="motto">`+resp[i].ngo_name+`</h5>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h4 class="text-center">`+resp[i].ngo_domain+`</h4>
                                        <p class="text-center">`+resp[i].ngo_description+`</p>
                                    </div>
                                    <div class="footer">
                                        <button data-count=`+i+` class="reqbut btn btn-primary btn-round" id="r`+resp[i].ngo_id+`" data-toggle ="modal" data-target ="#volunteer_request">Volunteer Here</button>
                                    </div>
                                    </div>
                                </div>
                            </div> <!-- end back panel -->
                        </div> <!-- end card -->
                    </div> <!-- end card-container -->`}
              htm+=`</div>`             
             $("#result").html(htm)
            }
            
             },
        // handle a non-successful response
        error : function(xhr,errmsg,err) {
             alert(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    });
}
var respo
$(document).ready(function(){
  var element
var a
    
ajaxreq("")
    $('#search').on('input',function(){
      
        ajaxreq($(this).val())
        
    });
    a=0
    $("#reqtoggle").on('change',function(){
        a=1-a
        if(a==0){
            $("#eventreq").css("display","block")

            $("#recreq").css("display","none")
          }
          if(a==1){
            $("#eventreq").css("display","none")

            $("#recreq").css("display","block")
          }
    })
        
    $("#label_onetime").css("display","none")
    a_switch = 0
    $("#toggleview").click(function(){
        a_switch = 1 - a_switch
         if(a_switch == 0){
            $("#eventreq").css("display","block")
            $("#label_onetime").css("display","block")
            $("#label_recur").css("display","none")
            $("#recreq").css("display","none")
          }
          if(a_switch == 1){
            $("#eventreq").css("display","none")
            $("#label_recur").css("display","block")
            $("#label_onetime").css("display","none")
            $("#recreq").css("display","block")
          }
  });
})
    $(document).on('click','.reqbut',function(){
        $('#ingoid').val($(this).attr('id').slice(1))
        $('#rngoid').val($(this).attr('id').slice(1))
        
  $('#actlisto').html('')
  $('#actlistr').html('')
  x=parseInt($(this).attr('data-count'))
  

  for (var i = 0; i < respo[x].activity.length; i++) {
  
      $('#actlisto').append('<option value="'+respo[x].activity[i]+'">'+respo[x].activity[i]+'</option>')
      $('#actlistr').append('<option value="'+respo[x].activity[i]+'">'+respo[x].activity[i]+'</option>')
}

if(respo[x].activity.length==0){
  $('#actlisto').html('<option value="None">No activities</option>')

  $('#actlistr').html('<option value="None">No activities</option>')
  
}
    })      
</script>

            </div>
             <footer class="footer footer-big">
            <!-- .footer-black is another class for the footer, for the transparent version, we recommend you to change the url of the image with your favourite image.          -->

            <div class="container">
                <div class="copyright">
                    &copy; 2016 YouTeach
                </div>
            </div>
        </footer>
        </div>

{%endblock%}

{% block modal %}
<div class="modal fade" id="volunteer_request" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="modal-title" id="myModalLabel"><b>Volunteer at an NGO</b></h3>
      </div>
      <div class="modal-body">
      <div class="social-area">   
        <button id = "toggleview" class = "btn btn-filled btn-block"><div id = "label_onetime">Recurring</div><div id = "label_recur">One Time</div></button>
          </div>
    
            </div>

         <div class = "container">
            <h4><b>Submit your volunteering request here</b></h4>
            <div id="eventreq"> 
            Single
            <form id="request_form" method = "POST" action="/request/volunteer/" enctype="multipart/form-data">
                {% csrf_token %}
                <input id="request_type" name="request_type" type = "hidden" value = "One Time" class="form-control" /> 
                <input id="ingoid" type = "hidden" name = "recepient" class="form-control" />                   
                <div class = "row">
                <div class="col-sm-4">
                   <div class="form-group label-floating">
                   <label class="control-label"></label>
                   <input type = "date" name = "date_vol" class=" form-control" />
                   </div>
                </div>
                </div>
                <div class = "row">
                <div class="col-sm-4">
                   <div class="form-group label-floating">
                   <label class="control-label"></label>
                   <input type = "time" name = "time_vol" class=" form-control" />
                   </div>
                </div>
                </div>
                <div class = "row">
                <div class="col-sm-4">
                   <div class="form-group label-floating">
                   <label class="control-label"></label>
                   <select id="actlisto" name="activity">
                   </select>
                   </div>
                </div>
                </div>
                <div class = "row">
                <div class="col-sm-4">
                   <div class="form-group label-floating">
                   <label class="control-label">Duration of Volunteering (hours)</label>
                   <input type = "number" name = "vol_duration" class=" form-control" min = "1" max = "12" />
                   </div>
                </div>
                </div>                
                <div class = "row">
                <div class="col-sm-4">
                   <input id="submitbuto" type = "submit" name = "submit" value = "Submit" class="btn btn-default btn-raised btn-fill btn-info"/>                   
                </div>
                </div>
             </form>
             </div>
             <div id="recreq" style="display:none;"> 
             Recurring
            <form id="recurring_form" method = "POST" action="/request/volunteer/" enctype="multipart/form-data">
                {% csrf_token %}

                 <input id="request_type" type = "hidden" value = "Recurring" class="form-control" /> 
                <input id="rngoid" type = "hidden" name = "recepient" class="form-control" />                   
                <div class = "row">
                <div class="col-sm-4">
                   <div class="form-group label-floating">
                   <label class="control-label">Start Date</label>
                   <input type = "date" name = "startdate_vol" class=" form-control" />
                   </div>
                </div>
                </div>
                <div class = "row">
                <div class="col-sm-4">
                   <div class="form-group label-floating">
                   <label class="control-label">End Date</label>
                   <input type = "date" name = "enddate_vol" class=" form-control" />
                   </div>
                </div>
                </div>
                <div class = "row">
                <div class="col-sm-4">
                   <div class="form-group label-floating">
                   <label class="control-label"></label>
                   <input type = "time" name = "time_vol" class=" form-control" />
                   </div>
                </div>
                </div>
                <div class = "row">
                <div class="col-sm-4">
                   <div class="form-group label-floating">
                   <label class="control-label"></label>
                   <input type = "text" name = "frequency" class=" form-control" />
                   </div>
                </div>
                </div>
                <div class = "row">
                <div class="col-sm-4">
                   <div class="form-group label-floating">
                   <label class="control-label"></label>
                   <select id="actlistr" name="activity">
                   </select>
                   </div>
                </div>
                </div>
                <div class = "row">
                <div class="col-sm-4">
                   <div class="form-group label-floating">
                   <label class="control-label">Duration of Volunteering (hours)</label>
                   <input type = "number" name = "vol_duration" class=" form-control" min = "1" max = "12" />
                   </div>
                </div>
                </div>                
                <div class = "row">
                <div class="col-sm-4">
                   <input id="submitbutr" type = "submit" name = "submit" value = "Submit" class="btn btn-default btn-raised btn-fill btn-info"/>                   
                </div>
                </div>
             </form>
             </div>
            </div>
        </div>
    </div>
  </div>

{% endblock %}

