{% extends 'base.html' %}

{% block titleblock %}Volunteer request{% endblock %}

{% block bodyblock %}
<br><br> 
<br><br> 
    <div class = "main main-raised container">
        <div class = "row">
            
        {% if request_sent %}
		<h2><b>Thank you for submitting your request</b></h2>
		{% else %}
		<h2><b>Submit your volunteering request here</b></h2>
		<form id="request_form" method = "post" action="/request/volunteer/" enctype="multipart/form-data">
			{% csrf_token %}
            <input type = "text" name = "recepient" value = "Recpient"/><br><br> 
            <input type = "date" name = "date_time_vol" value = "Date of Volunteering"/><br><br> 
            <input type = "text" name = "additional_details" value = "Additional Details"/><br><br>        
			<input type = "submit" name = "submit" value = "Submit" /><br> 
		</form>
		{% endif %}
        </div>
</div>
{% endblock %}

