{% extends 'ngodashboardbase.html'%}
{% block event %}active{% endblock %}
{% block levent %}#{% endblock %}
{%block body%}
<script type="text/javascript">
dec=""
id=""

$(document).ready(function(){
    $("#label_input").css("display","none")
    $("#output").css("display","none")
    var a_switch
    a_switch = 0
    $("#toggleview").click(function(){
        a_switch = 1 - a_switch
        if(a_switch==0){
            $("#input").fadeIn(200);
            $("#output").fadeOut(200);
            $("#label_input").css("display","none")
            $("#label_output").css("display","block")
          }
          if(a_switch==1){
            $("#input").fadeOut(200);
            $("#output").fadeIn(200);
            $("#label_input").css("display","block")
            $("#label_output").css("display","none")
          }
  });
    
    $("#eventsub").click(function(){
    var element =this
    a=[]
    b=[]
    $('.activities:checked').each(function(){
        a.push($(this).val())

        b.push($('[data-link="'+$(this).val()+'"]').val())    

    })
    $.ajax({
        url : "/home/ngo/event/", // the endpoint
        type : "POST", // http method
        data : { 'type': "event", 'event_name': $('#event_name').val(),'startdate_vol' : $('#startdate_vol').val(),'starttime_vol' : $('#starttime_vol').val(),'enddate_vol': $('#enddate_vol').val(),'endtime_vol': $('#endtime_vol').val(),'activities[]':a,'activity_goal[]':b},// data sent with the post request

        // handle a successful response
        success : function(result) {
            rotateCard(element)
            $('#event1')[0].reset(); 
            $('#event2')[0].reset(); 
            //Add a statement to make the checkboxes reset as well
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            alert(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    });
  });
    
$("#projectsub").click(function(){
    var element =this
    a=[]
    b=[]
    
    $('.pactivities:checked').each(function(){
        a.push($(this).val())

        b.push($('[data-link="p'+$(this).val()+'"]').val())    

    })
    $.ajax({
        url : "/home/ngo/event/", // the endpoint
        type : "POST", // http method
        data : { 'type': "project", 'project_name': $('#project_name').val(),'startdate_vol' : $('#pstartdate_vol').val(),'starttime_vol' : $('#pstarttime_vol').val(),'enddate_vol': $('#penddate_vol').val(),'endtime_vol': $('#pendtime_vol').val(),'activities[]':a,'activity_goal[]':b},// data sent with the post request

        // handle a successful response
        success : function(result) {
            rotateCard(element)
            $('#project1')[0].reset(); 
            $('#project2')[0].reset(); 
            //Add a statement to make the checkboxes reset as well
        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            alert(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    });
  });
    

   
});
</script>
<div class="wrapper"> 
<div class="container-fluid" >
<div class="wrapper">  
<div class = "row">
    <div class = "col-md-2 col-md-offset-1">
    <button id = "toggleview" class = "btn btn-filled btn-block"><div id = "label_input">View Input</div><div id = "label_output">View Output</div></button>
    </div>
</div>
<div id = "input" class="row">
    <div class = "col-md-6">
        <h2>Event</h2>
        <div class="card-container manual-flip">
        <div class="card">
            <div class = "front">
            <div class = "content">
            <form id = "event1">
                   <div class="form-group label-floating">
                   <label class="control-label">Name</label>
                   <input type = "text" id= "event_name" class=" form-control" />
                   </div>
                
              
                   <div class="form-group label-floating">
                   <label class="control-label">Start Date</label>
                   <input type = "date" id="startdate_vol" class=" form-control" />
                   </div>
                
                   <div class="form-group label-floating">
                   <label class="control-label">Start Time</label>
                   <input type = "time" id= "starttime_vol" class=" form-control" />
                   </div>
           
                   <div class="form-group label-floating">
                   <label class="control-label">End Date</label>
                   <input type = "date" id= "enddate_vol" class=" form-control" />
                   </div>
                
                   <div class="form-group label-floating">
                   <label class="control-label">End Time</label>
                   <input type = "time" id= "endtime_vol" class=" form-control" />
                   </div>
                    <button type="button" onclick = "rotateCard(this)" class="btn btn-default btn-raised btn-fill btn-info">Continue</button>
                </form>             
                </div>
            </div>
            <div class = "back">
                <h3>Add Activities</h3>
            <div class = "content">
            <form id = "event2">
               
            {% for option in array %}               
                
                    <div class = "row">
                    <div class="col-sm-5">
                       <div class="form-group label-floating">

                    <label class="checkbox checkbox-blue" for="checkbox1">

                    <input type="checkbox" name="activities" value="{{option.activityname}}" class="activities" data-toggle="checkbox">
                       {{option.activityname}}
                       </label>
                       </div>
                    </div>

                    <div class="col-sm-4">
                       <input type = "number" data-link="{{option.activityname}}" class=" form-control" />
                    </div>
                </div>
                    
                {% endfor %} 
                    
                </form>
            <button type="button" id = "eventsub" class="btn btn-info btn-fill btn-block"> Create Event </button>
            </div>
        </div> 
        </div><!-- end card  --> 
        </div><!-- end card container -->
        </div>
    
    <div class = "col-md-6">
        <h2>Project</h2>
        <div class="card-container manual-flip">
        <div class="card">
            <div class = "front">
            <div class = "content">
            <form id = "project1">
                   <div class="form-group label-floating">
                   <label class="control-label">Name</label>
                   <input type = "text" id= "project_name" class=" form-control" />
                   </div>
                
              
                   <div class="form-group label-floating">
                   <label class="control-label">Start Date</label>
                   <input type = "date" id="pstartdate_vol" class=" form-control" />
                   </div>
                
                   <div class="form-group label-floating">
                   <label class="control-label">Start Time</label>
                   <input type = "time" id= "pstarttime_vol" class=" form-control" />
                   </div>
           
                   <div class="form-group label-floating">
                   <label class="control-label">End Date</label>
                   <input type = "date" id= "penddate_vol" class=" form-control" />
                   </div>
                
                   <div class="form-group label-floating">
                   <label class="control-label">End Time</label>
                   <input type = "time" id= "pendtime_vol" class=" form-control" />
                   </div>
                    <button type="button" onclick = "rotateCard(this)" class="btn btn-default btn-raised btn-fill btn-info">Continue</button>
                </form>             
                </div>
            </div>
            <div class = "back">
                <h3>Add Activities</h3>
            <div class = "content">
            <form id = "project2">
               
            {% for option in array %}               
                
                    <div class = "row">
                    <div class="col-sm-5">
                       <div class="form-group label-floating">

                    <label class="checkbox checkbox-blue" for="checkbox1">

                    <input type="checkbox" name="pactivities" value="{{option.activityname}}" class="pactivities" data-toggle="checkbox">
                       {{option.activityname}}
                       </label>
                       </div>
                    </div>

                    <div class="col-sm-4">
                       <input type = "number" data-link="p{{option.activityname}}" class=" form-control" />
                    </div>
                </div>
                    
                {% endfor %} 
                    
                </form>
            <button type="button" id = "projectsub" class="btn btn-info btn-fill btn-block"> Create Project</button>
            </div>
        </div> 
        </div><!-- end card  --> 
        </div><!-- end card container -->
        </div>
    
        </div>
<div id = "output" class="row">
    {% for event in events %}
    <div class = "col-md-4">
        <div class="card-container">
        <div class="card">
                            <div class="front">
                                <div class="cover">
                                    <img src={% static 'assets/img/card-background.png' %} alt = "some background image"/>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h3 class="name">event.event_name</h3>
                                        <p class="text-center">event.startdate_vol</p>
                                        <p class="text-center">event.enddate_vol</p>
                                    </div>
                                <div class="footer">
                                        <!--<button class="btn btn-primary btn-round" onclick = "rotateCard(this)">More</button>-->
                                    </div>
                                </div>
                            </div> <!-- end front panel -->
                                                              
                            <div class="back">
                                    <div class = "table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                            <td><b>Activity</b></td>
                                            <!-- <td><b>Current Status</b></td>-->
                                            <td><b>Goal</b></td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {% for activity in event.activities %}
                                        <tr>
                                            <td> {{activity.activity_name}} </td>
                                             <!-- <td> {{req.sender}} </td>-->
                                            <td> {{event.activity_goal[activity.activity_name]}}</td>
                                        </tr>
                                        {% endfor %}        
                                    </tbody>
                                    </table>
                                    </div>  
                                
                                    <div class="footer">
                                     <!--   <button class="btn btn-primary btn-round" onclick = "rotateCard(this)">Back</button>-->
                                    </div>                                    
                            </div> <!-- end back panel -->
                        </div> <!-- end card -->
        </div><!-- end card container -->
        </div>
    {% endfor %}
    {% for project in projects %}
    <div class = "col-md-4">
        <div class="card-container ">
        <div class="card">
                            <div class="front">
                                <div class="cover">
                                    <img src={% static 'assets/img/card-background.png' %} alt = "some background image"/>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <h3 class="name">project.event_name</h3>
                                        <p class="text-center">project.startdate_vol</p>
                                        <p class="text-center">project.enddate_vol</p>
                                    </div>
                                <div class="footer">
                                        <!--<button class="btn btn-primary btn-round" onclick = "rotateCard(this)">More</button>-->
                                    </div>
                                </div>
                            </div> <!-- end front panel -->
                                                              
                            <div class="back">
                                    <div class = "table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                            <td><b>Activity</b></td>
                                            <!-- <td><b>Current Status</b></td>-->
                                            <td><b>Goal</b></td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {% for activity in project.activities %}
                                        <tr>
                                            <td> {{activity.activity_name}} </td>
                                             <!-- <td> {{req.sender}} </td>-->
                                            <td> {{project.activity_goal[activity.activity_name]}}</td>
                                        </tr>
                                        {% endfor %}        
                                    </tbody>
                                    </table>
                                    </div>  
                                
                                    <div class="footer">
                                       <!--   <button class="btn btn-primary btn-round" onclick = "rotateCard(this)">Back</button>-->
                                    </div>                                    
                            </div> <!-- end back panel -->
                        </div> <!-- end card -->
        </div><!-- end card container -->
        </div>
    {% endfor %}
    
      
    </div>
</div>
   
{%endblock%}
